.contenedor {
	background: lightblue;
	margin: auto;
}

header {
	width: 0%;

}

.header {
	width: 0%;
	display: flex;
}

.header .header_nav_menu li{
	display: inline;
	padding-left: 50%: 
	margin-left: 100%;
	float: right;
}

.header_nav_menu {
}
/*.header_nav_menu {
	display: inline-block;
}*/